h1{ text-align : center;
    color : rgb(14, 14, 196);
     font size :  45 px ;
}

body
   {background: #CCCCCC;
   
}

#banner.jfif
{width: 100%}


 

p {
    text-align: center;
}

em b {
    color: #FF0000;
}